## Agents

Agents leverage the reasoning capabilities of LLMs to make decisions during execution.
Using agents allows you to offload additional discretion over the query generation and execution process. Although their behavior is less predictable than the above "chain", they feature some advantages:

- They can query the database as many times as needed to answer the user question.
- They can recover from errors by running a generated query, catching the traceback and regenerating it correctly.
- They can answer questions based on the databases' schema as well as on the databases' content (like describing a specific table).

In [1]:
# question = "How many customers do we have?"
# question = "List all employees."
# question = "Show me the top 5 countries by number of customers."
# question = "What is the total revenue from all invoices?"
# question = "How many invoices were issued in 2013?" -> This question failed
question = "Who is the top-selling artist by revenue?"
# question = "Who are our top 10 customers by total spending?" ->  -> This question failed
# question = "What is the average invoice total?"

### Question 5
"How many invoices were issued in 2013?"

To answer the original question, we need to use a different approach since there is no `date` column in the provided database schema. We can assume that the `invoice` table has a date field representing the invoice's creation or issue date.

Here's an updated SQL query:

```sql
SELECT COUNT(*) 
FROM invoice 
WHERE YEAR(invoice.date) = 2013;
```

This query will return the number of invoices issued in 2013.

The correct query was:
```sql
SELECT COUNT(*) 
FROM invoice 
WHERE EXTRACT(YEAR FROM invoice.invoice_date) = 2013;
```

There were two errors:
1. invoice.date was not exist in the schema.
2. In PostgreSQL, use EXTRACT(YEAR FROM ...) instead of YEAR(...).

### Question 6
"Who is the top-selling artist by revenue?"

query:
```sql
SELECT artist.name, SUM(invoice_line.unit_price * invoice_line.quantity) AS total_revenue FROM invoice_line JOIN track ON invoice_line.track_id = track.track_id JOIN album ON track.album_id = album.album_id JOIN artist ON album.artist_id = artist.artist_id GROUP BY artist.artist_id ORDER BY total_revenue DESC LIMIT 5
```

result:
[('Iron Maiden', Decimal('138.60')), ('U2', Decimal('105.93')), ('Metallica', Decimal('90.09')), ('Led Zeppelin', Decimal('86.13')), ('Lost', Decimal('81.59'))]

response:
The top-selling artist by revenue is Iron Maiden, with a total revenue of $138.60.

### Question 7
"Who are our top 10 customers by total spending?"

```sql
SELECT 
    c.customer_id,
    SUM(i.unit_price * i.quantity) AS total_spending
FROM invoice i
JOIN invoice_line il ON i.invoice_id = il.invoice_id
JOIN track t ON il.track_id = t.track_id
JOIN album a ON t.album_id = a.album_id
JOIN artist ar ON a.artist_id = ar.artist_id
JOIN customer c ON ar.customer_id = c.customer_id
GROUP BY c.customer_id
ORDER BY SUM(i.unit_price * i.quantity) DESC
LIMIT 10;
```

Errors:
1. invoice doesn not have unit_price and quantity.

In [2]:
from langchain_community.utilities import SQLDatabase

db = SQLDatabase.from_uri("postgresql://postgres:chinook@localhost:55000/chinook")

In [3]:
from langchain_ollama import ChatOllama

# llm = ChatOllama(model="qwen3:1.7b", reasoning=False)
# llm = ChatOllama(model="qwen3:4b", reasoning=False)
llm = ChatOllama(model="llama3.2:3b", reasoning=False, temperature=0.1)

The SQLDatabaseToolkit includes tools that can:

- Create and execute queries
- Check query syntax
- Retrieve table descriptions
- ... and more

In [4]:
from langchain_community.agent_toolkits import SQLDatabaseToolkit

toolkit = SQLDatabaseToolkit(db=db, llm=llm)

tools = toolkit.get_tools()

### System Prompt

In [5]:
system_message = """
**Role & Purpose**
You are a highly specialized data analysis agent for the **Chinook Database**, a digital media store. Your primary function is to accurately retrieve, analyze, and present data from this relational database in response to user queries. You must translate natural language requests into precise, efficient, and correct SQL queries.

**Database Schema & Naming Convention**
You must adhere strictly to the following schema and naming conventions. Failure to do so will result in SQL errors.

*   **Table Names:** All table names are **singular** (e.g., `employee`, `customer`, `genre`, `invoice`, `playlist`).
*   **Primary Keys:** Primary key columns are named in the format `[table_name]_id` (e.g., `employee_id`, `customer_id`, `invoice_id`). Note the underscore.
*   **Foreign Keys:** Foreign keys follow the same pattern, referencing the primary key of the related table (e.g., In the `invoice` table, the customer is referenced by `customer_id`).

**Key Tables & Relationships:**
A core subset of the schema is outlined below. You are expected to know this structure.

*   **employee:** Contains staff members. ReportsTo links to another `employee_id` (manager).
*   **customer:** Stores customer data. Linked to `employee` via `Support_Rep_Id` (a foreign key to `employee_id`).
*   **invoice:** Represents a customer's order. Linked to `customer` via `customer_id`.
*   **invoice_line:** Individual line items for an `invoice`. Linked to `invoice` via `invoice_id` and to `track` via `track_id`.
*   **track:** A single music track. Linked to `album` via `album_id` and to `media_type` and `genre`.
*   **album:** A music album. Linked to `artist` via `artist_id`.
*   **artist:** A music artist.
*   **playlist:** A collection of tracks.
*   **playlist_track:** A junction table linking `playlist` and `track` (via `playlist_id` and `track_id`).


**Core Operating Principles:**

1.  **Accuracy First:** Always double-check the table and column names against the convention before generating SQL. If you are unsure of a column's name, describe your assumption before proceeding.
2.  **Efficient SQL:** Write clean, efficient, and performant SQL. Prefer `JOIN` syntax to implied joins in the `WHERE` clause. Use meaningful aliases.
3.  **Clarity & Context:** When presenting results, provide clear context. Don't just output raw numbers; explain what they represent (e.g., "The total sales for Q1 2013 were:").
4.  **Safety:** You are strictly prohibited from generating SQL that modifies the database (e.g., `INSERT`, `UPDATE`, `DELETE`, `DROP`). Your access is read-only (`SELECT`).
5.  **Proactive Communication:**
    *   If a query is ambiguous, ask clarifying questions.
    *   If a query is overly complex or might be slow, notify the user.
    *   Briefly explain your query logic if the request is non-trivial.

**Example Interactions:**

**User Query:**
"Who are the top 5 selling artists by revenue?"

**Your Thought Process:**
1.  *Revenue comes from invoice_line.unit_price * quantity.*
2.  *Need to link invoice_line -> track -> album -> artist.*
3.  *Sum the revenue and group by artist name.*
4.  *Confirm column names: artist.name, invoice_line.unit_price, invoice_line.quantity.*

**Your Response (Internal SQL):**
```sql
SELECT 
    artist.name AS artist_name,
    SUM(invoice_line.unit_price * invoice_line.quantity) AS total_revenue
FROM invoice_line
    JOIN track ON invoice_line.track_id = track.track_id
    JOIN album ON track.album_id = album.album_id
    JOIN artist ON album.artist_id = artist.artist_id
GROUP BY artist.artist_id
ORDER BY total_revenue DESC
LIMIT 5;
```

**User Query:**
"Show me all playlists that have jazz tracks in them."

**Your Thought Process:**
1.  *Jazz is a genre. The genre table has a 'name' column.*
2.  *Need to link playlist -> playlist_track -> track -> genre.*
3.  *We need to filter where genre.name = 'Jazz'.*
4.  *We might get duplicate playlists, so use DISTINCT.*

**Your Response (Internal SQL):**
```sql
SELECT DISTINCT
    playlist.name AS playlist_name
FROM playlist
    JOIN playlist_track ON playlist.playlist_id = playlist_track.playlist_id
    JOIN track ON playlist_track.track_id = track.track_id
    JOIN genre ON track.genre_id = genre.genre_id
WHERE genre.name = 'Jazz';
```
"""

### Initializing agent

In [6]:
from langchain_core.messages import HumanMessage
from langgraph.prebuilt import create_react_agent

agent_executor = create_react_agent(llm, tools, prompt=system_message)

In [7]:
for step in agent_executor.stream(
    {"messages": [{"role": "user", "content": question}]},
    stream_mode="values",
):
    step["messages"][-1].pretty_print()

================================ Human Message =================================

Who is the top-selling artist by revenue?
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (169ceb09-6b4e-4d1e-bf33-568022bda179)
 Call ID: 169ceb09-6b4e-4d1e-bf33-568022bda179
  Args:
    query: SELECT artist.name, SUM(invoice_line.unit_price * invoice_line.quantity) AS total_revenue FROM invoice_line JOIN track ON invoice_line.track_id = track.track_id JOIN album ON track.album_id = album.album_id JOIN artist ON album.artist_id = artist.artist_id GROUP BY artist.artist_id ORDER BY total_revenue DESC LIMIT 5
================================= Tool Message =================================
Name: sql_db_query

[('Iron Maiden', Decimal('138.60')), ('U2', Decimal('105.93')), ('Metallica', Decimal('90.09')), ('Led Zeppelin', Decimal('86.13')), ('Lost', Decimal('81.59'))]
================================== Ai Message ==================================

The top-selling artist by revenue is Iron Maiden, with a total revenue of $138.60.